body {
    padding:0px;
    margin:0px;
}

header {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(223, 82, 82)), to(rgb(223, 59, 59)));
    background-image: linear-gradient(0deg, rgb(223, 82, 82) 0%, rgb(223, 59, 59) 100%);
    padding: 25px 0 164px 0;
    position: relative;
  }
  header.wave-bottom:after, header.wave-top:after {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% 64px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 64px;
  }
  @media (max-width: 768px) {
    header.wave-bottom:after, header.wave-top:after {
      height: 32px;
      background-size: 100% 32px;
    }
  }
  @media (max-width: 349px) {
    header.wave-bottom:after, header.wave-top:after {
      height: 16px;
      background-size: 100% 16px;
    }
  }
  header.wave-bottom:after {
    bottom: 0;
    background-image: url("https://triss.dev/examples/wave.php?color=white&orientation=0deg"); 
  }
  header.wave-top:after {
    top: 0;
    background-image: url("https://triss.dev/examples/wave.php?color=white&orientation=180deg");
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

.title-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.page-title {
    font-family: 'Monoton', cursive;
    font-size: 2em;
    letter-spacing: 0.4em;
    color: #fff;
}

.page-subtitle {
    margin-top: -25px;
    font-family: 'Open Sans', serif;
    letter-spacing: 0.1em;
    color: #fff;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin-top: 50px;
    /* repeat minmax(1fr auto) */
}

.cards-wrapper > .card{
    background-color: rgba(248, 244, 244, 0.952);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    height: 300px;
    margin: 10px;
}

.card-title {
    color: rgb(223, 59, 59);
    text-align: center;
    padding-top: 10px;
    font-family: 'Open Sans', serif;
    font-size: 1.2em;
}